@model SimpleKitchen.Models.CookBook
<link href="~/Content/CookBooksIndex.css" rel="stylesheet" />
<link href="~/Content/RecipeDisplay.css" rel="stylesheet" />

<div>
    @if (Model.CookBookName != null)
    {
            <div class="row col-xs-12 col-md-11 cookbook-name-display hidden cb-@Model.CookBookId.ToString()">
                <h4>@Model.CookBookName</h4>
            </div>
    }
    <div class="row">
        @foreach (var recipe in Model.Recipes)
        {
            <div class="col-sm-3 individual-recipe-container cb-@Model.CookBookId hidden">
                <div class="btn individual-recipe col-centered">
                    @if (ViewBag.Title == "Public Recipes")
                    {
                        <button type="button" href="~/" id="@recipe.RecipeId" class="btn btn-default glyphicon glyphicon-floppy-disk save-recipe requires-authentication"></button>
                    }
                        <button type="button" class="btn btn-danger btn-xs hide-individual-recipe">Hide</button>
                <!--Recipe Image-->
                        @if (recipe.ImageReference != null)
                        {
                            <div class="recipe-image" style="background-image: url(@recipe.ImageReference)"></div>
                        }
                        else
                        {
                            <div class="row col-centered">
                                <div class="recipe-image-missing">
                                    <p class="glyphicon glyphicon-camera"></p>
                                </div>
                            </div>
                        }
                        <hr class="recipe-image-name-divider" />
                <!--Recipe Name-->
                        <div class="row recipe-name">
                            <p class="recipe-text">@recipe.RecipeName</p>
                        </div>
                <!--Recipe Detials Button-->
                        <button type="button"
                                data-id="@recipe.RecipeId"
                                class="btn btn-default recipe-details"
                                data-toggle="modal"
                                data-target="#recipeModal"
                                href="~/Recipes/Details/@recipe.RecipeId">
                            Details
                        </button>
                    </div>
                </div>
                    }
                </div>
            </div>