@model SimpleKitchen.Models.CookBook

@{
    ViewBag.Title = Model.CookBookName;
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Owner.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CookBookName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CookBookName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CookBookDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CookBookDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Recipes)
        </dt>
        @foreach (var recipe in Model.Recipes)
        {
            <dd>
                @recipe.RecipeName
                @Html.ActionLink("Edit", "Edit", "Recipes", new { id = recipe.RecipeId }, new { id = recipe.RecipeId }) |
                @Html.ActionLink("Details", "Details", "Recipes", new { id = recipe.RecipeId }, new { id = recipe.RecipeId })
            </dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CookBookId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
