@model IEnumerable<SimpleKitchen.Models.CookBook>

@{
    ViewBag.Title = "My BookShelf";
}
<script src="~/Scripts/CookBooksIndexScript.js"></script>
<link href="~/Content/CookBooksIndex.css" rel="stylesheet" />

<h2>@ViewBag.Title</h2>

<div class="container-fluid index-container">

    @foreach (var cookbook in Model)
    {
        <div class="row cookbook-container">
            <div class="btn btn-block jumbotron cookbook-jumbotron" id="@cookbook.CookBookId">
                <h1>@cookbook.CookBookName</h1>
                <h3>@cookbook.CookBookDescription</h3>
            </div>
            <div class="row recipe-container hidden">
                @if (cookbook.CookBookName != "Saved Recipes")
                {
                    <a class="col-md-3 col-sm-4 individual-recipe col-centered btn btn-default create-recipe" href="/Recipes/Create">
                        <p class="recipe-text text-center create-recipe-text">Create New Recipe</p>
                    </a>
                }
                @foreach (var recipe in cookbook.Recipes)
                {
                    <a class="col-md-3 col-sm-4 individual-recipe col-centered btn btn-default" href="/Recipes/Details/@recipe.RecipeId">
                        <div class="row recipe-image col-centered">
                            @if (recipe.ImageReference != null)
                            {
                                <img src=@recipe.ImageReference />
                            }
                            else
                            {
                                <p class="text-center glyphicon glyphicon-camera"></p>
                            }
                        </div>
                        <hr />
                        <div class="row recipe-name col-centered">
                            <p class="text-center recipe-text">@recipe.RecipeName</p>
                        </div>
                    </a>
                }

            </div>
        </div>
    }
</div>